In [1]:
pip install xlsxwriter

Requirement already satisfied: xlsxwriter in c:\users\iamkr\anaconda3\lib\site-packages (3.2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\iamkr\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\iamkr\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install PyExcelerate

Requirement already satisfied: PyExcelerate in c:\users\iamkr\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: Jinja2 in c:\users\iamkr\anaconda3\lib\site-packages (from PyExcelerate) (3.1.3)
Requirement already satisfied: six>=1.4.0 in c:\users\iamkr\anaconda3\lib\site-packages (from PyExcelerate) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\iamkr\anaconda3\lib\site-packages (from Jinja2->PyExcelerate) (2.1.3)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install PyPDF2

Requirement already satisfied: PyPDF2 in c:\users\iamkr\anaconda3\lib\site-packages (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import numpy as np
import pandas as pd

In [6]:
xls = pd.ExcelFile('ledger.xlsx')
df1 = pd.read_excel(xls, 'Bill Details')
df2 = pd.read_excel(xls, 'Company Details')

In [7]:
for i in range(1, 44, 2):
    n = "Unnamed: " + str(i)
    del df1[n]

In [8]:
df1.dropna(subset=['Invoice Number'], inplace = True)

In [9]:
df1.head()

,Buyer Name,Buyer Address,Buryer GST,Buyer Phone Number,Invoice Number,Date,Delivery Note,Mode/Terms of Payment,Reference Number,Other References,...,Destination,Terms of Delivery,Descriptions of Goods (Good Name),HSN/SAC,Quantity,Rate,"Type (Mtr, Kg, etc)",Amt,Gst,TAmt
1,Sharik,NaN,NaN,NaN,447.0,2024-03-01,NaN,NaN,NaN,NaN,...,NaN,NaN,Dry Fit,6006.0,22.00,195.0,Kg,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,448.0,2024-03-02,NaN,NaN,NaN,NaN,...,NaN,NaN,Skin Tight Leggins,6006.0,116.00,32.0,Pcs,NaN,NaN,NaN
5,Ramesh,NaN,NaN,NaN,449.0,2024-03-04,NaN,NaN,NaN,NaN,...,NaN,NaN,Cotton Cloth,5208.0,118.65,81.0,Mtr,NaN,NaN,NaN
7,Ravi,NaN,NaN,NaN,450.0,2024-03-05,NaN,NaN,NaN,NaN,...,NaN,NaN,Cotton Cloth,5208.0,64.25,81.0,Mtr,NaN,NaN,NaN
9,Sahil,NaN,NaN,NaN,451.0,2024-03-06,NaN,NaN,NaN,NaN,...,NaN,NaN,Cotton Cloth,5208.0,162.25,81.0,Mtr,NaN,NaN,NaN

In [10]:
df1.dtypes

Buyer Name                                   object
Buyer Address                               float64
Buryer GST                                  float64
Buyer Phone Number                          float64
Invoice Number                              float64
Date                                 datetime64[ns]
Delivery Note                               float64
Mode/Terms of Payment                       float64
Reference Number                            float64
Other References                            float64
Dispatch Doc No.                            float64
Delivery Note Date                          float64
Dispatch Through                            float64
Destination                                 float64
Terms of Delivery                           float64
Descriptions of Goods (Good Name)            object
HSN/SAC                                     float64
Quantity                                    float64
Rate                                        float64
Type (Mtr, Kg, etc)                          object
Amt                                         float64
Gst                                         float64
TAmt                                        float64
dtype: object

In [11]:
df1["Invoice Number"] = df1["Invoice Number"].astype("int")
#df1["HSN/SAC"] = df1["HSN/SAC"].astype("int")

In [12]:
df1.reset_index(inplace = True)
del df1["index"]

In [13]:
df1["Date"] = df1["Date"].dt.strftime('%d/%m/%Y')

In [14]:
df1

,Buyer Name,Buyer Address,Buryer GST,Buyer Phone Number,Invoice Number,Date,Delivery Note,Mode/Terms of Payment,Reference Number,Other References,...,Destination,Terms of Delivery,Descriptions of Goods (Good Name),HSN/SAC,Quantity,Rate,"Type (Mtr, Kg, etc)",Amt,Gst,TAmt
0,Sharik,NaN,NaN,NaN,447,01/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Dry Fit,6006.0,22.000,195.0,Kg,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,448,02/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Skin Tight Leggins,6006.0,116.000,32.0,Pcs,NaN,NaN,NaN
2,Ramesh,NaN,NaN,NaN,449,04/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Cotton Cloth,5208.0,118.650,81.0,Mtr,NaN,NaN,NaN
3,Ravi,NaN,NaN,NaN,450,05/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Cotton Cloth,5208.0,64.250,81.0,Mtr,NaN,NaN,NaN
4,Sahil,NaN,NaN,NaN,451,06/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Cotton Cloth,5208.0,162.250,81.0,Mtr,NaN,NaN,NaN
5,Mohd Nouman,NaN,NaN,NaN,452,07/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Dry Fit,6006.0,71.000,195.0,Kg,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,453,08/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Cotton Cloth,5208.0,192.550,81.0,Mtr,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,454,09/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Skin Tight Leggins,6006.0,94.000,195.0,Pcs,NaN,NaN,NaN
8,Vishvas Arrora,NaN,NaN,NaN,455,11/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Cotton Cloth,5208.0,557.178,81.0,Mtr,NaN,NaN,NaN
9,Mohd Nouman,NaN,NaN,NaN,456,12/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Dry Fit,6006.0,56.900,195.0,Kg,NaN,NaN,NaN
10,Shivam,NaN,NaN,NaN,457,13/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Dry Fit,6006.0,16.200,195.0,Kg,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,458,14/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Cotton Cloth,5208.0,126.850,81.0,Mtr,NaN,NaN,NaN
12,Mohd Nouman,NaN,NaN,NaN,459,16/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Cotton Cloth,5208.0,131.050,81.0,Mtr,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,460,17/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Dry Fit,6006.0,55.630,195.0,Kg,NaN,NaN,NaN
14,Kapil,NaN,NaN,NaN,461,18/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Dry Fit,6006.0,18.540,195.0,Kg,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,462,19/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Cotton Cloth,5208.0,98.250,81.0,Mtr,NaN,NaN,NaN
16,Mohd Nouman,NaN,NaN,NaN,463,20/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Cotton Cloth,5208.0,134.040,81.0,Mtr,NaN,NaN,NaN
17,Decent Sales,NaN,NaN,NaN,464,22/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Dry Fit,6006.0,122.100,195.0,Kg,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,465,23/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Cotton Cloth,5208.0,155.250,81.0,Mtr,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,466,25/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Cotton Cloth,5208.0,108.912,81.0,Mtr,NaN,NaN,NaN
20,Decent Sales,NaN,NaN,NaN,467,26/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Cotton Cloth,5208.0,293.940,81.0,Mtr,NaN,NaN,NaN
21,Viren,NaN,NaN,NaN,468,27/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Dry Fit,6006.0,13.210,195.0,Kg,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,469,28/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Dry Fit,6006.0,24.420,195.0,Kg,NaN,NaN,NaN
23,Mohd Nouman,NaN,NaN,NaN,470,28/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Cotton Cloth,5208.0,117.580,81.0,Mtr,NaN,NaN,NaN
24,Mohd Nouman,NaN,NaN,NaN,471,29/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Cotton Cloth,5208.0,37.900,81.0,Mtr,NaN,NaN,NaN
25,Deepak,NaN,NaN,NaN,472,30/03/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,Cotton Cloth,5208.0,115.850,81.0,Mtr,NaN,NaN,NaN

In [15]:
df2

                    Key  Unnamed: 1                 Value
0                   NaN         NaN                   NaN
1        Seller Company         NaN          Mansi Sarees
2                   NaN         NaN                   NaN
3        Seller Address         NaN  Roshan Mohalla, Agra
4                   NaN         NaN                   NaN
5            Seller GST         NaN       09AARPA7687E1Z9
6                   NaN         NaN                   NaN
7      Seller Phone No.         NaN            9634143685
8                   NaN         NaN                   NaN
9                  CGST         NaN                 0.025
10                  NaN         NaN                   NaN
11                 SGST         NaN                 0.025
12                  NaN         NaN                   NaN
13                 IGST         NaN                     0
14                  NaN         NaN                   NaN
15            Bank Name         NaN  Punjab National Bank
16                  NaN         NaN                   NaN
17  Bank Account Number         NaN      0004008700012903
18                  NaN         NaN                   NaN
19       Bank IFSC Code         NaN           PUNB0000400

In [16]:
del df2['Unnamed: 1']

In [17]:
df2.dropna(inplace=True)

In [18]:
df2.reset_index(inplace = True)

In [19]:
df2

   index                  Key                 Value
0      1       Seller Company          Mansi Sarees
1      3       Seller Address  Roshan Mohalla, Agra
2      5           Seller GST       09AARPA7687E1Z9
3      7     Seller Phone No.            9634143685
4      9                 CGST                 0.025
5     11                 SGST                 0.025
6     13                 IGST                     0
7     15            Bank Name  Punjab National Bank
8     17  Bank Account Number      0004008700012903
9     19       Bank IFSC Code           PUNB0000400

In [20]:
def number_to_word(number):
    def get_word(n):
        words={ 0:"", 1:"One", 2:"Two", 3:"Three", 4:"Four", 5:"Five", 6:"Six", 7:"Seven", 8:"Eight", 9:"Nine", 10:"Ten", 11:"Eleven", 12:"Twelve", 13:"Thirteen", 14:"Fourteen", 15:"Fifteen", 16:"Sixteen", 17:"Seventeen", 18:"Eighteen", 19:"Nineteen", 20:"Twenty", 30:"Thirty", 40:"Forty", 50:"Fifty", 60:"Sixty", 70:"Seventy", 80:"Eighty", 90:"Ninty" }
        if n<=20:
            return words[n]
        else:
            ones=n%10
            tens=n-ones
            return words[tens]+" "+words[ones]
            
    def get_all_word(n):
        d=[100,10,100,100]
        v=["","Hundred","Thousand","Lakh"]
        w=[]
        for i,x in zip(d,v):
            t=get_word(n%i)
            if t!="":
                t+=" "+x
            w.append(t.rstrip(" "))
            n=n//i
        w.reverse()
        w=' '.join(w).strip()
        if w.endswith("And"):
            w=w[:-3]
        return w

    arr=str(number).split(".")
    number=int(arr[0])
    crore=number//10000000
    number=number%10000000
    word=""
    if crore>0:
        word+=get_all_word(crore)
        word+=" Crore "
    word+=get_all_word(number).strip()+" Rupees Only"
    #if len(arr)>1:
     #    if len(arr[1])==1:
      #      arr[1]+="0"
       #  word+=" and "+get_all_word(int(arr[1]))+""
    return word

#print(number_to_word(12345))
#print(number_to_word(123.45))
#print(number_to_word(1234678910))

In [21]:
import openpyxl

# Load the workbook
workbook = openpyxl.load_workbook('sample.xlsx')
# Select the sheet you want to add data to
sheet = workbook['Sheet1']




  

#Refill

sheet['A2'] = df2["Value"][0]
sheet['A4'] = df2["Value"][1]
sheet['A6'] = "GSTIN: {}".format(df2["Value"][2])
sheet['A7'] = "Phone No: {}".format(df2["Value"][3])
sheet['A44'] = "Bank Name: {}".format(df2["Value"][7])
sheet['A45'] = "Bank A/C No: {}".format(df2["Value"][8])
sheet['A46'] = "Bank IFSC Code: {}".format(df2["Value"][9])

for n in range(df1.shape[0]):
    
    sheet['A10'].value = None
    sheet['A12'].value = None
    sheet['A14'].value = None
    sheet['A15'].value = None
    
    
    
    sheet['F2'] = df1["Invoice Number"][n]
    sheet['H2'] = df1["Date"][n]

    if pd.isnull(df1["Buyer Name"][n]):
        sheet['A12'] = "CASH"
    elif not(pd.isnull(df1["Buyer Name"][n])) and (pd.isnull(df1["Buyer Address"][n])):
        sheet['A12'] = df1["Buyer Name"][n]
    else:
        sheet['A10'] = df1["Buyer Name"][n]
        sheet['A12'] = df1["Buyer Address"][n]
        sheet['A14'] = "GSTIN: {}".format(df1["Buyer GST"][n])
        sheet['A15'] = "Phone No: {}".format(df1["Buyer Phone Number"][n])
    sheet['A19'] = "1."
    sheet['B19'] = df1["Descriptions of Goods (Good Name)"][n]
    sheet['F19'] = df1["HSN/SAC"][n]
    sheet['G19'] = df1["Quantity"][n]
    sheet['H19'] = df1["Rate"][n]
    sheet['I19'] = df1["Type (Mtr, Kg, etc)"][n]
    amt = float(df1["Quantity"][n])*float(df1["Rate"][n])
    sheet['J19'] = amt
    gst = amt*0.05
    sheet['J30'] = gst/2
    sheet['J31'] = gst/2
    t_amt = round(gst+amt)
    sheet['J33'] = t_amt
    sheet['A35'] = "Amount(In Wrds): {}".format(number_to_word(t_amt))
    
    sheet['A39'] = df1["HSN/SAC"][n]
    sheet['D39'] = amt
    sheet['D39'] = amt
    sheet['F39'] = "2.50%"
    sheet['G39'] = gst/2
    sheet['G40'] = gst/2
    sheet['H39'] = "2.50%"
    sheet['I39'] = gst/2
    sheet['I40'] = gst/2
    sheet['J39'] = gst
    sheet['J40'] = gst
    sheet['A41'] = "Amount(In Wrds): {}".format(number_to_word(round(gst)))
    sheet["G43"] = "For {}".format(df2["Value"][0])
    workbook.save('Bill/{}.xlsx'.format(str(df1["Invoice Number"][n])))
    
    
    #os.startfile('C:\\Users\G5\Bill\{}.xlsx'.format(str(df1["Invoice Number"][n])), "print")

In [22]:
import os
from PyPDF2 import PdfReader, PdfMerger
from win32com import client

for n in range(df1.shape[0]):
    excel_path = 'Bill\{}.xlsx'.format(str(df1["Invoice Number"][n]))
    pdf_path = 'Bill-PDF\{}.pdf'.format(str(df1["Invoice Number"][n]))
    excel = client.DispatchEx("Excel.Application")
    excel.Visible = False
    workbook = excel.Workbooks.Open(os.path.abspath(excel_path))
    workbook.ExportAsFixedFormat(0, os.path.abspath(pdf_path))
    workbook.Close()
    excel.Quit()

In [23]:
month = {
    '01': 'January',
    '02': 'February',
    '03': 'March',
    '04': 'April',
    '05': 'May',
    '06': 'June',
    '07': 'July',
    '08': 'August',
    '09': 'September',
    '10': 'October',
    '11': 'November',
    '12': 'December'
}

In [24]:
to_pdf = []
from PyPDF2 import PdfFileReader, PdfMerger
#Create an instance of PdfFileMerger() class
merger = PdfMerger()
#Create a list with the file paths
for n in range(df1.shape[0]):
    to_pdf.append('{}.pdf'.format(str(df1["Invoice Number"][n])))
#Iterate over the list of the file paths
for pdf_file in to_pdf:
    #Append PDF files
    merger.append('Bill-PDF\{}'.format(pdf_file))

#Write out the merged PDF file
merger.write('{}_{}.pdf'.format(month[df1["Date"][0].split("/")[1]], df1["Date"][0].split("/")[2]))
merger.close()